.c1 {
  position: relative;
}
.c1 .x {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.c2 {
  display: table-cell;
  vertical-align: middle;
}
.c2 .x {
  margin: auto;
}
.c3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
